.cartitem{
    margin: 100px 170px;
}
.cartitem hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}
.cartitem-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: #302f2f;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.cartitem-format{
    font-size: 17px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}
.cartitem-product-icon{
    margin-top: 5px;
    height: 62px;
    margin-bottom: 5px;
}
.carotem-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}
.cartitem-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ccc7c7;
    background: white;
    border-radius: 15px;
}
.cartitem-down{
    display: flex;
    margin: 100px 0px;
}
.cartitem-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}
.cartitem-total-items{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitem-total button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff4141;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.cartitem-total button:active{
    background: #5e3535;
}