.offers{
    width: 75%;
    height: 50vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background-image: url('../Assets/exclusive_back.jpg');
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(100, 97, 97, 0.3);
}
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers-left h1{
    color: #ffffff;
    font-size: 70px;
    font-weight: 300;
    font-family: 'Pacifico', cursive;
}
.offers-left h2{
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
}
.offers-left button{
    width: 250px;
    height: 50px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 600;
    margin-top: 50px;
    cursor: pointer;
}
.offers-left button:active{
    background:#5e3535;
}
.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top: 30px;
}