.productdisplay{
    display: flex;
    margin: 10px 170px;
    border: solid;
}
.display-left{
    display: flex;
    gap: 17px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.display-right{
    display: flex;
    margin: 0px 70px;
    flex-direction: column;
}
.display-right h1{
    color: #1b1919;
    font-size: 40px;
    font-weight: 600;
    margin-top: 50px;
}
.display-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size:24px;
    font-weight: 700;
}
.display-right-old-price{
    color: #818181;
    text-decoration: line-through;
}
.display-right-new-price{
    color: #ff4141;
    font-size: 40px;
}
.display-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.display-right button:active{
    background:#5e3535;
}
.display-right-category{
    margin-top: 10px;
}